- name: Cache {name}
  id: deplo-cache-{name}
  uses: actions/cache@v2
  with:
    path: |
{paths:>6}
    key: {key}
{restore_keys:>4}
- name: Mark cache result
  if: steps.deplo-cache-{name}.outputs.cache-hit == 'true'
  run: echo "{env_key}=true" >> $GITHUB_ENV