- name: Cache repository
  uses: actions/cache@v2
  with:
    path: .git
    key: deplo-git-v1-${{ runner.os }}-${{ github.ref }}-${{ github.sha }}
    restore-keys:
      deplo-git-v1-${{ runner.os }}-${{ github.ref }}-${{ github.sha }}
      deplo-git-v1-${{ runner.os }}-${{ github.ref }}-
      deplo-git-v1-${{ runner.os }}-
- name: Checkout
  if: steps.cache-repository.outputs.cache-hit != 'true'
  uses: actions/checkout@v2
  with:
{checkout_opts:>4}
