- name: Fetch repository cache
  id: fetch-repository-cache
  uses: actions/cache@v2
  with:
    path: .git
    key: deplo-git-v1{opts_hash}-${{{{ github.sha }}}}
    restore-keys:
      deplo-git-v1{opts_hash}-
      deplo-git-v1-
- name: Checkout
  if: steps.fetch-repository-cache.outputs.cache-hit != 'true'
  uses: actions/checkout@v2
  with:
    # deplo needs to refer previous commit of current HEAD to determine diff
    fetch-depth: 2
{checkout_opts:>4}
- name: Restore repository from cache
  if: steps.fetch-repository-cache.outputs.cache-hit == 'true'
  run: git reset --hard HEAD
