- name: Fetch deplo cli
  uses: actions/download-artifact@v2
  with:
    name: deplo-cli-v1-${{ needs.deplo-main.outputs.DEPLO_OUTPUT_CLI_VERSION }}
    path: /usr/local/bin
- name: Change cli permission
  run: chmod +x /usr/local/bin/deplo