{full_name}:
  needs: [{needs}]
  if: ${{{{ needs.deplo-main.outputs.{full_name} && !failure() }}}}
  name: Running job {full_name}
  runs-on: {machine}
{container:>2}
  steps:
{fetchcli:>4}
{checkout:>4}
{caches:>4}
    - name: {kind} {name}
{command:>6}
{debugger:>4}