name: Deplo CI/CD

on: 
{entrypoint:>2}
  workflow_dispatch:
    inputs:
      deplo_job_name:
        description: The name of the job to run
        requred: true
  
env:
  DEPLO_GHACTION_PULL_REQUEST_URL: ${{{{ github.event.pull_request.url }}}}
  DEPLO_GHACTION_RUN_JOB_NAME: ${{{{ github.event.inputs.deplo_job_name }}}}
{secrets:>2}
jobs:
  deplo-main:
    name: Start CI
    runs-on: ubuntu-latest
    container: {image}:{tag}
    outputs:
{outputs:>6}
    steps:
{checkout:>6}
      - name: Start deplo
        id: deplo-ci-kick
        run: deplo ci kick
      - name: Setup ssh session to debug
        if: ${{{{ failure() }}}}
        uses: mxschmitt/action-tmate@v3
        with:
          sudo: false
  deplo-finish:
    name: Cleanup CI
    runs-on: ubuntu-latest
    container: {image}:{tag}
    steps:
{checkout:>6}
      - name: Cleanup deplo
        id: deplo-ci-fin
        run: deplo ci fin
      - name: Setup ssh session to debug
        if: ${{{{ failure() }}}}
        uses: mxschmitt/action-tmate@v3
        with:
          sudo: false
{jobs:>2}