name: Deplo CI/CD

on: 
{entrypoint:>2}
  workflow_dispatch:
    inputs:
      deplo_job_name:
        description: The name of the job to run
        requred: true
env:
  DEPLO_CI_PULL_REQUEST_URL: ${{{{ github.event.pull_request.url }}}}
  DEPLO_CI_RUN_JOB_NAME: ${{{{ github.event.inputs.deplo_job_name }}}}
{secrets:>2}
jobs:
  deplo-main:
    name: Start CI
    runs-on: ubuntu-latest
    container: {image}:{tag}
    outputs:
      DEPLO_OUTPUT_CLI_VERSION: ${{{{ steps.deplo-ci-kick.outputs.DEPLO_OUTPUT_CLI_VERSION }}}}
{outputs:>6}
    steps:
{checkout:>6}
      - name: Start deplo
        id: deplo-ci-kick
        run: deplo ci kick
      - name: Setup ssh session to debug
        if: ${{{{ failure() }}}}
        uses: umegaya/action-tmate@a3d459813f3429bd95fc48bcd980b2fb40f10ad0
        with:
          sudo: false
  deplo-finish:
    name: Cleanup CI
    if: ${{{{ !failure() }}}}
    needs: [{needs}]
    runs-on: ubuntu-latest
    container: {image}:{tag}
    steps:
{checkout:>6}
      - name: Cleanup deplo
        id: deplo-ci-fin
        run: deplo ci fin
      - name: Setup ssh session to debug
        if: ${{{{ failure() }}}}
        uses: umegaya/action-tmate@a3d459813f3429bd95fc48bcd980b2fb40f10ad0
        with:
          sudo: false
{jobs:>2}