push-tx:
  parameters:
  executor: {name}
  steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
{checkout_opts:>8}
    - name: Start workflow
      run: deplo ci workflow {name} '${{ toJSON(github.event.client_payload) }}'
    - name: Setup ssh session to debug
      if: ${{{{ failure() }}}}
      uses: mxschmitt/action-tmate@v3
      with:
        sudo: false