{name}:
  name: Running job {name}
{machine_or_container:>2}
{workdir:>2}
  steps:
    - attach_workspace:
        at: /tmp/deplo
    - run: |
        if [ ! -f "/tmp/deplo/marked_jobs/{name}" ]; then
          echo "Job {name} is not marked to execute."
          circleci-agent step halt
        fi
{checkout:>4}
    - name: {name}
      run: deplo run {name}
