name: Deplo CI/CD

on: 
  push:
    branches: [{}]
  pull_request:
    branches: [{}]

jobs:
  deplo:
    name: running CI jobs
    runs-on: ubuntu-latest
    container: {}:{}
    steps:
      - uses: actions/checkout@v2
        with:
          lfs: true
      - name: Run Deplo
        env:
          DEPLO_GHACTION_PULL_REQUEST_URL: ${{{{ github.event.pull_request.url }}}}
{:>10}
        run: deplo -w {} ci kick
