name: Deplo Launcher

on: 
  push:
    branches: [{}]
  pull_request:
    branches: [{}]

jobs:
  deplo:
    name: running CI jobs
    # This job runs on Linux
    runs-on: ubuntu-latest
    container: suntomi/deplo:{}
    steps:
      - uses: actions/checkout@v2
        lfs: true
      - name: Run Deplo
        run: deplo ci
