[submodule "tools/sandbox"]
	path = tools/sandbox
	url = https://github.com/suntomi/deplo-sandbox
[submodule "tools/images"]
	path = tools/images
	url = https://github.com/suntomi/images.git
[submodule "tools/modules/discord"]
	path = tools/modules/discord
	url = https://github.com/suntomi/discord
[submodule "tools/modules/slack"]
	path = tools/modules/slack
	url = https://github.com/suntomi/slack
[submodule "tools/modules/sample"]
	path = tools/modules/sample
	url = https://github.com/suntomi/module-sample
